# Semana 07
Luis Enrrique Montes Palacios

Temas : 
1. Numeros
2. Variables
3. Manejo de Cadenas
4. Ingreso de Datos por el teclado
5. Operadores

5.Operadores

In [ ]:
#5.1 Operaciones Aritmeticas
#Se tiene: +, -, *, /, **,

In [14]:
numero1= 10
numero2= 2
suma = numero1 + numero2
print(suma)

12

In [15]:
numero1= 10
numero2= 2
resta = numero1 - numero2
print(resta)

8

In [16]:
numero1= 10
numero2= 2
multi = numero1 * numero2
print(multi)

20

In [17]:
numero1= 10
numero2= 2
divi = numero1 / numero2
print(divi)

5.0

In [20]:
numero1= 10
numero2= 3
residuo = numero1 % numero2
print(residuo)

1

In [19]:
numero1= 10
numero2= 3
coci = numero1 // numero2
print(coci)

3

In [21]:
numero1= 10
numero2= 3
pote = numero1 ** numero2
print(pote)

1000

In [22]:
#5.2 operadores de asignaion : =, +=, -=, *=, /= **=,
numero=5
numero = numero +3
print (numero)

8

In [24]:
numero=5
numero +=3
print (numero)

8

In [25]:
numero=5
numero -=3
print (numero)

2

In [26]:
numero=5
numero *=3
print (numero)

15

In [27]:
numero=5
numero /=3
print (numero)

1.6666666666666667

In [28]:
numero=5
numero **=3
print (numero)

125

In [29]:
#5.3 de comparacion ==, !=, <, >, <=, >=
numero=5
numero2=3
numero1 == numero2

False

In [31]:
nombre1="juan"
nombre2="juan"
nombre1 == nombre2

True

In [32]:
#5.4 Operadores Logicos : and, or, not
numero1=5
numero2=6
numero3=7
numero4=8

In [33]:
numero1 < numero2

True

In [35]:
not(numero1 <numero2)

False

In [36]:
numero1 < numero2 and numero3 < numero4

True

In [38]:
(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

True

In [39]:
#Operadrd de pertenecia : in, not in
aula=["juan","daniel","ruben"]
alumno1="diego"
alumno2="juan"

In [41]:
alumno1 in aula

False

In [42]:
alumno2 in aula

True

In [43]:
alumno1 not in aula

True

In [44]:
#operadores de identidad: is, is not
aula1= ["juan", "daniel","ruben"]
aula2= ["juan", "daniel","ruben"]
aula3 = aula1

In [45]:
aula3 is aula1

True

In [46]:
aula3 is aula2

False

In [47]:
aula3 is not aula2

True

In [48]:
aula1.append("diego")

In [49]:
aula1

['juan', 'daniel', 'ruben', 'diego']

In [50]:
aula3

['juan', 'daniel', 'ruben', 'diego']

In [51]:
aula2

['juan', 'daniel', 'ruben']